@font-face {
    font-family: "Cabinet Grotesk";
    src: url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Skatta Sans";
    src: url("../fonts/Skatta\ Sans\ Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
}

