.title {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);
}

.header {

    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: 900;
    color: var(--text);
}

.body {

    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-muted);
    margin-top: var(--gap-sm);
    width: 50%;
}

.text {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--bg);
    padding: 0;
    margin: 0;
}