.title {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);

}



.titleLight {

    font-family: var(--font-title);
    font-size: var(--font-size-nav);
    font-weight: 600;
    color: var(--text);
}

.titleInteractive {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.titleInteractive:hover {
    color: var(--primary);
    transform: scale(1.02);

}

.title2 {
    font-family: var(--font-title);
    font-size: var(--font-size-title2);
    font-weight: 900;
    color: var(--text);

}

.title3 {
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-muted);

}

.h2color {
    font-family: var(--font-title);
    font-size: var(--font-size-title2);
    font-weight: 900;
    color: var(--primary);
}

.header {

    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: 900;
    color: var(--text);

}

.headerLight {

    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--color-white);

}


.header2 {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: 500;
    color: var(--color-muted);
}

.header3 {
    font-family: var(--font-title);
    font-size: var(--font-size-nav);
    font-weight: 600;
    color: var(--text);
}

.body {

    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--text);
    margin-top: var(--gap-sm);

}


.body2 {
    font-family: var(--font-body);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-body2);
    color: var(--text);
    margin-top: var(--gap-sm);

}

.body3 {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--text);
    line-height: 1.5;
}

.body3Light {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-white);
    line-height: 1.5;
}



.emphasis {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--text);
    margin-top: var(--gap-sm);
    font-style: italic;

}

.text {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--bg);
    padding: 0;
    margin: 0;

}

.textDark {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--text);
    padding: 0;
    margin: 0;

}


.cardTitle {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-title);
    font-family: var(--font-title);
    color: var(--bg);
    padding: 0;
    margin: 0;
}

.cardText {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--bg);
    padding: 0;
    margin: 0;
}

.email {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--primary);
    padding: 0;
    margin: 0;
}

.link {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--text);
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;

}

.link:hover {
    box-shadow: var(--box-shadow-2);
    color: var(--primary);
}

.listItem {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    color: var(--text);
    padding: 0;
    margin: 0;
}



/*  Mobile */

@media only screen and (max-width: 480px) {

    .title {
        font-size: var(--font-size-title-mobile);
    }

    .title2 {
        font-size: var(--font-size-title2-mobile);
    }

    .header {
        font-size: var(--font-size-header-mobile);
    }

    .body {
        font-size: var(--font-size-body-mobile);
    }

    .body2 {
        font-size: var(--font-size-nav-mobile);
    }

    .text {
        font-size: var(--font-size-body-mobile);
    }
        .title3 {
            font-family: var(--font-title);
            font-size: 1rem;
            font-weight: 700;
            color: var(--color-muted);
    
        }

}