:root {
    --text: #252422;
    --bg: #FFFCF2;
    --navItemActive: #f3faf9c5;
        --navLabelActive: #3e4d4c;

    --primary: #EB5E28;
    --secondary: #232d55d3;

    --color-grey: #79736b;
    --color-muted: #403D39;
    --color-light-muted: #c5c3bc;
    --color-light: #CCC5B9;
    --color-white: #FFFFFF;

    /* Fonts */

    --font-title: 'Cabinet Grotesk', sans-serif;
    --font-body: 'Skatta Sans', sans-serif;

    --font-size-body: 0.875rem;
    --font-size-nav: 1rem;
    --font-size-header: 1.5rem;
    --font-size-title: 3rem;
    --font-size-title2: 2.25rem;

    --font-size-body-mobile: 0.75rem;
    --font-size-nav-mobile: 0.875rem;
    --font-size-header-mobile: 1.25rem;
    --font-size-title-mobile: 2rem;
    --font-size-title2-mobile: 1.5rem;

    --font-weight-body: 400;
    --font-weight-body2: 500;
    
    --font-weight-text: 600;
    --font-weight-title: 900;

    /* Navbar */

    --width-disabled: 0.5rem;
    --width-enabled: 0.75rem;

    --height-disabled: 0.5rem;
    --height-enabled: 0.75rem;

    /* Layout */

    --margin-1: 1rem;
    --margin-2: 2rem;
    --margin-3: 3rem;
    --margin-4: 4rem;
    --margin-5: 5rem;

    --gap-sm: 0.5rem;
    --gap-md: 0.75rem;
    --gap-lg: 1rem;
    --gap-xl: 3rem;

    --padding-1: 1rem;
    --padding-2: 1.5rem;
    --padding-3: 2rem;
    --padding-4: 2.5rem;
    --padding-5: 3rem;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-xl: 2rem;

    /* Containers */

    --container-xs: 15rem;
    --container-sm: 20rem;
    --container-md: 27rem;
    --container-lg: 36rem;
    --container-height: 20rem;
    --container-img-height: 12.5rem;

    

    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow2: rgba(0, 0, 0, 0.10) 0px 1px 5px;
    --box-shadow3: rgba(0, 0, 0, 0.30) 0px 5px 10px;

    
    --box-shadow-inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --box-shadow-inset-hover: rgba(50, 50, 93, 0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0) 0px 18px 36px -18px inset;
}