
.page {
  display: block;
  padding-top: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .page {
    padding-top: 1rem;
  }
}