.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--padding-4);
    align-items: center;
    overflow-y: auto;
    margin-top: var(--margin-2);
    margin-bottom: var(--margin-5);
    overflow-x: hidden;

}



.header {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2);
}

.back {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-body);
    font-size: var(--font-size-nav);
    color: var(--color-light-muted);
    transition: all 0.2s ease-in-out;
}

.header:hover .back,
.header:hover span {
    color: var(--primary);
    transform: scale(0.96);


}

.container {

    display: flex;
    max-width: 30vw;
    flex-direction: column;
    gap: var(--gap-lg);

}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 ;
    gap: var(--gap-lg);
}

.innerContent {
    max-width: 25vw;



}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: var(--margin-2);
}

/* Mobile */

@media only screen and (max-width: 1450px) {

    .header,
    .container,
    .content,
    .inner,
    .innerContent,
    .textContent {
        width: 100%;
        max-width: 80%;
    }

}

@media only screen and (max-width: 480px) {
    .header,
    .container,
    .content,
    .inner,
    .innerContent,
    .textContent {
        width: 100%;
        max-width: 100%;
    }

}