

.page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
}

.section {
    display: flex;
    min-height: 100vh;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 5%;
    transform: none;
}



/*  Mobile */

@media only screen and (max-width: 480px) {
    .page {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .content {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        margin: 0;
    }

    .section {
        width: 100%;
        padding: 0;
        flex-direction: column;
        gap: var(--gap-lg);
    }
        /*
        .navbar {
            position: fixed;
            top: 2rem;
            left: 0;
            right: 0;
            bottom: 0;
            height: 55px;
            max-width: 90%;
            margin: 0 auto;
            transform: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 9999;


        }
            */
        .navbar {
            display: none;
        }
 
}