

.page {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    min-height: 100vh;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center;
}


/*  Mobile */

@media only screen and (max-width: 480px) {
    .page {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .content {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .section {
        width: 100%;
            max-width: 100%;
        padding: var(--padding-1);
        flex-direction: column;
        gap: var(--gap-lg);
    }

}