.page {
    display: block;
    min-height: 100vh;
    padding-top: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 1920px) {


}

@media only screen and (max-width: 900px) {
    .page {
        padding-top: 1rem;
    }

}
/*  Mobile */

@media only screen and (max-width: 480px) {


}