.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-bottom: var(--margin-5);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);
}

.row {
    margin-top: var(--margin-4);
    display: flex;
    flex-direction: row;
    gap: var(--gap-xl);
    margin-bottom: var(--margin-5);
}



.textContent {
    max-width: 600px;
    margin-bottom: var(--margin-4);

}

.header {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2);
}

.back {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-body);
    font-size: var(--font-size-nav);
    color: var(--color-light-muted);
    transition: all 0.2s ease-in-out;
}

.header:hover .back,
.header:hover span {
    color: var(--primary);
    transform: scale(0.96);


}

.header span {
    transition: all 0.2s ease-in-out;
}

.icon {
    font-size: 1.5rem;
    margin-right: var(--gap-sm);
}

.image {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}

.imageWrapper {
    display: flex;
    max-width: 40vw;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: var(--margin-4);
    object-fit: cover no-repeat;
    user-select: none;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow);
}

.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40vw;
    overflow: hidden;
    object-fit: cover no-repeat;
    margin-bottom: var(--margin-4);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow);
    margin-bottom: 10rem;
}

.video {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: var(--border-radius-md);
}

.iconButton {
    padding: var(--padding-1);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-body);
    color: var(--bg);
    background-color: #ce6941;
    cursor: pointer;
    box-shadow: var(--box-shadow-2);
    transition: all 200ms ease-in-out;
}

.iconButton:hover {
    background-color: var(--primary);
    transform: scale(0.95);
    box-shadow: var(--box-shadow);
}

.iconButton:active {
    background-color: #b34a21;
    transform: scale(0.92);
    box-shadow: var(--box-shadow);
}

.navbar {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 5%;
    transform: none;
}

/*  Mobile */

@media only screen and (max-width: 480px) {

    .wrapper {
        gap: var(--gap-sm);
        padding-top: 0;
        padding-inline: 1rem;
        margin-top: var(--margin-1);
    }
    .videoWrapper {
        max-width: 100%;
        margin-bottom: var(--margin-1);
        border-radius: 0.5rem;

    }

    .imageWrapper {
        margin-bottom: var(--margin-1);
        border-radius: 0.5rem;
    }
    .row {
        margin-top: var(--margin-1);
        margin-bottom: var(--margin-1);
    }

    .imageWrapper {
        max-width: 100%;
    }

    .container {
        gap: var(--gap-sm);
        margin-top: 0;
        margin-bottom: 0;
    }

    .textContent {
        margin-bottom: 0;
        gap: 1rem;
    }

}