.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-5);
    padding-bottom: 2rem;
    padding-top: 3rem;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 20px 10px -20px inset,
        rgba(0, 0, 0, 0.1) 0px 8px 16px -30px inset;
}

.container {
    display: flex;
    padding: var(--padding-2);
    align-content: center;
    justify-content: center;
    gap: var(--gap-md);
}

.list {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap: var(--gap-sm);
    
}
