.heroContainer {
    display: flex;
    justify-content: center;
    user-select: none;
    gap: var(--gap-xl);
    align-items: center;
    padding-bottom: 10rem;
    max-width: 100%;
}


.content {
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);

}

.containerRow {
    display: flex;
    flex-direction: row;
    gap: var(--gap-lg);
}

.textContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80vw;
    align-items: left;
    justify-content: center;
    padding: 0;
    gap: 0;
    margin-bottom: var(--margin-2);

}

.image {
    width: 20rem;
    border-radius: var(--border-radius-lg);
    user-select: none;
    box-shadow: var(--box-shadow);
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: var(--margin-1);
    color: var(--primary);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.scrollDown:hover .icon {
    transform: translateY(-10px);

}

.heroFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0 !important;

}

.scrollDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: var(--margin-2);
}

.contactButton {
    padding: var(--padding-2);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-title);
    font-family: var(--font-title);
    background-color: #ce6941;
    color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-2);
    transition: all 200ms ease-in-out;
    letter-spacing: 2px;
    user-select: none;
}

.contactButton:hover {
    background-color: var(--primary);
    transform: scale(0.95);
    box-shadow: var(--box-shadow);
}

.contactButton:active {
    background-color: #b34a21;
    transform: scale(0.92);
    box-shadow: var(--box-shadow);
}

.iconButton {
    padding: var(--padding-1);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-body);
    color: var(--bg);
    background-color: #ce6941;
    cursor: pointer;
    box-shadow: var(--box-shadow-2);
    transition: all 200ms ease-in-out;
}

.iconButton:hover {
    background-color: var(--primary);
    transform: scale(0.95);
    box-shadow: var(--box-shadow);
}

.iconButton:active {
    background-color: #b34a21;
    transform: scale(0.92);
    box-shadow: var(--box-shadow);
}

@media only screen and (max-width: 900px) {
    .textContent {
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}


/*  Mobile */

@media only screen and (max-width: 480px) {


    .heroContainer {
        gap: var(--gap-lg);
        flex-direction: column;
        padding-bottom: var(--padding-2);
    }

    .content {
        padding: var(--padding-1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xl);


    }

    .containerRow {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
    }

    .textContent {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;

    }

    .image {
        width: 15rem;
        border-radius: var(--border-radius-lg);
        user-select: none;
        box-shadow: var(--box-shadow);
    }

    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: var(--margin-1);
        color: var(--primary);
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }


    .heroFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }



    .contactButton {
        padding: var(--padding-2);
        border-radius: var(--border-radius-lg);
        border: none;
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-title);
        font-family: var(--font-title);
        background-color: #ce6941;
        color: var(--color-white);
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: var(--box-shadow-2);
        transition: all 200ms ease-in-out;
        letter-spacing: 2px;
        user-select: none;
    }



    .iconButton {
        padding: var(--padding-1);
        border-radius: var(--border-radius-lg);
        border: none;
        font-size: var(--font-size-body);
        color: var(--bg);
        background-color: #ce6941;
        cursor: pointer;
        box-shadow: var(--box-shadow-2);
        transition: all 200ms ease-in-out;
    }


}