.heroContainer {
    display: flex;
    justify-content: center;
    user-select: none;
    gap: 5rem;
    align-items: center;
    padding-bottom: 10rem;
}

.heroTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);
}

.heroSubtitle {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-muted);
    margin-top: var(--gap-sm);
    width: 50%;
}

.content {
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
    

}

.image {
    width: 20rem;
    border-radius: var(--border-radius-lg);
    user-select: none;
    box-shadow: var(--box-shadow);
}