.heroContainer {
    display: flex;
    justify-content: center;
    user-select: none;
    gap: var(--gap-xl);
    align-items: center;
    padding-bottom: 10rem;
}


.content {
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);

}

.textContent {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    align-items: left;
    justify-content: center;
    padding: var(--padding-2);
    gap: 0;
    margin-bottom: var(--margin-2);

}

.image {
    width: 20rem;
    border-radius: var(--border-radius-lg);
    user-select: none;
    box-shadow: var(--box-shadow);
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: var(--margin-1);
    color: var(--primary);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.scrollDown:hover .icon {
    transform: translateY(-10px);
    
}

.heroFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--padding-2);
    gap: 5rem;

}

.scrollDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: var(--margin-2);
}

.contactButton {
    padding: var(--padding-2);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-title);
    font-family: var(--font-title);
    background-color: #ce6941;
    color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-2);
    transition: all 200ms ease-in-out;
    letter-spacing: 2px;
    user-select: none;
}

.contactButton:hover {
    background-color: var(--primary);
    transform: scale(0.95);
    box-shadow: var(--box-shadow);
}

.contactButton:active {
    background-color: #b34a21;
    transform: scale(0.92);
    box-shadow: var(--box-shadow);
}