.infoCard {
    display: flex;
    backface-visibility: hidden;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: var(--padding-2);

    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow2);
    transition: all 200ms ease-in-out;
}

.infoCard:hover {
    scale: 0.97;
    box-shadow: var(--box-shadow);
}

.infoCardBack {
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    gap: var(--gap-sm);
    padding: var(--padding-2);
    transform: rotateX(180deg);

    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow2);
    transition: all 200ms ease-in-out;
}

.infoCardBack:hover {
    scale: 0.97;
    box-shadow: var(--box-shadow);
}

.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
}



.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
}

.content {
    display: flex;
    gap: var(--gap-sm);
}

.techStack {
    display: flex;
    gap: var(--gap-sm);
    margin-top: var(--gap-sm);
    background-color: var(--color-light);
    border-radius: 1.25rem;
    padding: 0 1rem;
    box-shadow: var(--box-shadow2);
}



.label {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    color: var(--color-text);
}