.infoCard  {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: 0 var(--padding-2);
    
}

.infoCardBack {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: 0 var(--padding-2);
    transform: rotateX(180deg);
    
}

.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);
}

.header {
    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: 900;
    color: var(--text);
}

.text {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-muted);
    margin-top: var(--gap-sm);
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
}

.content {
    display: flex;

    gap: var(--gap-sm);
}

.techStack {
    display: flex;
    gap: var(--gap-sm);
    margin-top: var(--gap-sm);
    background-color: var(--color-light);
    border-radius: 1.25rem;
    padding: 0 1rem;
    box-shadow: var(--box-shadow2);
}



.label {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-text);
    color: var(--color-text);
}