

.navWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    transform: none;
}

.navList {
    backdrop-filter: blur(30px);
    display: flex;
    border-radius: 1rem;
    flex-direction: row;
    padding: 1rem;
    gap: 1.5rem;
    transition: all 400ms ease-in-out;
}

.navListScrolled {
    backdrop-filter: blur(30px);
    display: flex;
    border-radius: 1rem;
    flex-direction: row;
    padding: 1rem;
    gap: 1.5rem;
    box-shadow: var(--box-shadow2);
    background-color: #faf6f0b0;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    border: none;
    background-color: #ffffff2c;
    padding: var(--padding-1);
    border-radius: 1.25rem;
    transition: all 250ms ease-in-out;
    
}

.navItem:hover {
   
    box-shadow: var(--box-shadow2);
    backdrop-filter: brightness(3) saturate(1.5);
}

.navItemActive {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    border: none;
    background-color: var(--navItemActive);
    padding: 0 1rem;
    border-radius: 1.25rem;
    box-shadow: var(--box-shadow2);
}




.navLabel {
    font-family: var(--font-body);
    font-size: var(--font-size-nav);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--secondary);
    user-select: none;
    transition: all 200ms ease-in-out;
}

.navLabel:hover {
    color: var(--text);
}

.navLabelActive {
    opacity: 100%;
    font-family: var(--font-body);
    font-size: var(--font-size-nav);
    font-size: var(--font-size-nav);
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--text);
    user-select: none;
    transition: all 250ms ease-in-out;
}

/* Mobile */

@media only screen and (max-width: 768px) {
   

}

@media only screen and (max-width: 480px) {
    .navLabel {
        font-size: 12px;
    }
    .navLabelActive {
        font-size: 12px;
    }
    .navItem {
        border-radius: 2rem;
        padding: 0.5rem 0.75rem;
    }
    .navItemActive {
        border-radius: 2rem;
    }

    .navList {
        gap: .75rem;
    }
}