.modalContainer {
    position: fixed;
    inset: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.modalBackdrop {
    position: absolute;
    inset: 0;
    background-color: var(--color-muted);
}


.modalContent {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
    padding: 0;
    max-width: 30vw;
    width: 100%;
    height: 100%;
    max-height: 600px;
    box-shadow: var(--box-shadow);
}

@media only screen and (max-width: 900px) {


    .modalContent {
        padding: 0;
        max-width: 50vw;
    }

}

@media only screen and (max-width: 480px) {


    .modalContent {
        padding: 0;
        max-width: 80vw ;
    }

}

