.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10rem;
}

.containerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

}

.projectsWrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: var(--margin-2);
    justify-content: center;
    align-items: center;
    padding: 0;
}

.projectCards,
.projectCardsSm {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.25rem;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;

}

.projectCardsSm button:nth-child(1) {

    grid-column: 2 / span 5;
}

.projectCardsSm button:nth-child(2) {

    grid-column: auto / span 5;
}


.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;


}

.projectInfo {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-1);
    max-width: 30vw;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: center;
    padding: var(--padding-2);

}



.infoTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-title);
    color: var(--primary);
}

.infoSubTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-text);
    color: var(--text);
    text-align: left;


}

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 900px) {

    .sectionWrapper {
        width: 100%;
        padding: 0;
    }


}


/*  Mobile */

@media only screen and (max-width: 480px) {

    .sectionWrapper {
        gap: var(--gap-sm);
    }

    .projectsWrapper {
        flex-direction: column;
        gap: var(--gap-sm);
        margin-top: var(--margin-2);
        margin-bottom: var(--margin-2);
        align-items: center;
    }

    .containerRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projectsWrapper {
        display: flex;
        gap: var(--gap-xl);
        margin-top: var(--margin-3);
        margin-bottom: var(--margin-3);
    }



    .textContent {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        align-items: center;
        justify-content: center;


    }

    .projectInfo {
        display: flex;
        flex-direction: column;
        margin-top: var(--margin-1);
        max-width: 80vw;
        gap: var(--gap-sm);
        align-items: center;
        justify-content: center;
        padding: var(--padding-2);

    }



    .infoTitle {
        font-family: var(--font-title);
        font-size: var(--font-size-header-mobile);
        font-weight: var(--font-weight-title);
        color: var(--primary);
    }

    .infoSubTitle {
        font-family: var(--font-title);
        font-size: var(--font-size-nav-mobile);
        font-weight: var(--font-weight-text);
        color: var(--text);
        text-align: left;


    }

    .projectCardsSm button:nth-child(1) {

        grid-column: 2 / span 10;
        height: 100%;
        max-height: 300px;
    }

    .projectCardsSm button:nth-child(2) {

        grid-column: 2 / span 10;
        height: 100%;
        max-height: 300px;
    }




}