
.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-2);
    gap: var(--gap-xl);
}

.containerRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectsWrapper {
    display: flex;
    gap: var(--gap-xl);
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
}



.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;


}

.heroTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    font-weight: 900;
    color: var(--text);
}

.heroSubtitle {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-muted);
    margin-top: var(--gap-sm);
    width: 50%;
}



