.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-2);
    gap: var(--gap-xl);
}

.containerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectsWrapper {
    display: flex;
    gap: var(--gap-xl);
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
}



.textContent {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-items: center;
    justify-content: center;


}

.projectInfo {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-1);
    max-width: 30vw;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: center;
    padding: var(--padding-2);

}



.infoTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-title);
    color: var(--primary);
}

.infoSubTitle {
    font-family: var(--font-title);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-text);
    color: var(--text);
    text-align: left;


}



/*  Mobile */

@media only screen and (max-width: 480px) {

    .sectionWrapper {
        padding: var(--padding-1);
        gap: var(--gap-sm);
    }

    .projectsWrapper {
        flex-direction: column;
        padding: var(--padding-2);
        gap: var(--gap-sm);
        margin-top: var(--margin-2);
        margin-bottom: var(--margin-2);
        align-items: center;
    }

    .containerRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projectsWrapper {
        display: flex;
        gap: var(--gap-xl);
        margin-top: var(--margin-3);
        margin-bottom: var(--margin-3);
    }



    .textContent {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        align-items: center;
        justify-content: center;


    }

    .projectInfo {
        display: flex;
        flex-direction: column;
        margin-top: var(--margin-1);
        max-width: 80vw;
        gap: var(--gap-sm);
        align-items: center;
        justify-content: center;
        padding: var(--padding-2);

    }



    .infoTitle {
        font-family: var(--font-title);
        font-size: var(--font-size-header-mobile);
        font-weight: var(--font-weight-title);
        color: var(--primary);
    }

    .infoSubTitle {
        font-family: var(--font-title);
        font-size: var(--font-size-nav-mobile);
        font-weight: var(--font-weight-text);
        color: var(--text);
        text-align: left;


    }



}